version = [3, 0]
[adsp]
name = "mtl"
image_size = "0x2C0000" # (22) bank * 128KB
alias_mask = "0xE0000000"
[[adsp.mem_zone]]
type = "ROM"
base = "0x1FF80000"
size = "0x400"
[[adsp.mem_zone]]
type = "IMR"
base = "0xA104A000"
size = "0x2000"
[[adsp.mem_zone]]
type = "SRAM"
base = "0xa00f0000"
size = "0x100000"
[[adsp.mem_alias]]
type = "uncached"
base = "0x40000000"
[[adsp.mem_alias]]
type = "cached"
base = "0xA0000000"
[cse]
partition_name = "ADSP"
[[cse.entry]]
name = "ADSP.man"
offset = "0x5c"
length = "0x4b8"
[[cse.entry]]
name = "ADSP.met"
offset = "0x4c0"
length = "0x70"
[[cse.entry]]
name = "ADSP"
offset = "0x540"
length = "0x0" # calculated by rimage
[css]
[signed_pkg]
name = "ADSP"
[[signed_pkg.module]]
name = "ADSP.met"
[adsp_file]
[[adsp_file.comp]]
base_offset = "0x2000"
[fw_desc.header]
name = "ADSPFW"
load_offset = "0x40000"
 [[module.entry]]
 name = "BRNGUP"
 uuid = "2b79e4f3-4675-f649-89df-3bc194a91aeb"
 affinity_mask = "0x1"
 instance_count = "1"
 domain_types = "0"
 load_type = "0"
 module_type = "0"
 auto_start = "0"
 index = 0
 [[module.entry]]
 name = "BASEFW"
 uuid = "0e398c32-5ade-ba4b-93b1-c50432280ee4"
 affinity_mask = "3"
 instance_count = "1"
 domain_types = "0"
 load_type = "0"
 module_type = "0"
 auto_start = "0"
 index = 1
[module]
count = 2
